/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.welcome-container {
    position: relative;
    width: 80%; /* Set a max width for the container */
    max-width: 800px; /* Adjust as needed */
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
}

.welcome-message {
    font-size: 12rem; /* Adjust font size as needed */
    color: white;
    font-family: 'Pacifico', cursive;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    transform: rotate(-10deg); 
    animation: write 3s steps(40, end) forwards, fadeIn 3s ease-in-out;
    
}

@keyframes write {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

#video-left {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 320px; 
    height: 500px; 
    transform: scale(2);
}

#video-right {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 320px; 
    height: 500px;
    transform: scale(2);


}

